body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, red, blueviolet, black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.card-block {
    display: flex;
    justify-content: space-evenly;
}

.card-body {
    background: linear-gradient(to bottom, darkblue, blue, #007bff, lightblue);
    color: white;
}

.small-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}